@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Great+Vibes&display=swap');
@import "tailwindcss";

@theme {
  --font-primary: "Playfair Display", serif;
  --font-vibes: "Great Vibes", cursive;
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.5), 0 0 20px rgba(255, 215, 0, 0.3);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white font-primary;
}